body {
    font-family: Arial, sans-serif;
    margin: 0;
    background: #f3eeee;
}

header {
    background: black;
    color: white;
    padding: 20px;
    text-align: center;
}

section {
    background: rgba(236, 213, 213, 1);
    margin: 20px;
    padding: 20px;
    border-radius: 5px;
}

h2 {
    color: #333;
}

footer {
    background: black;
    color: white;
    text-align: center;
    padding: 10px;
}
.cars {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 15px;
}

.cars img {
    width: 100%;
    height: 120px;
    object-fit: cover;
    border-radius: 5px;
}
